<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30" level="TRACE">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %level [%t] [%l] - %msg%n%ex
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="FileAppender" fileName="R:/Logs/DemoApp.log" filePattern="Logs/DemoApp_%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="R:/Logs" maxDepth="2">
                    <IfLastModified age="3D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="logger" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="warn">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>